body{
    font-family: "Open Sans", sans-serif;
}
header{
    text-align: center;
   
}
#botao{
    background-color: grey;
    color: white;
    border-radius: 20px;
    border-color: grey;
    height: 50px;
    width: 250px;
    border: none;
}
#grid{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
#grid div{
    font-size: 20px;
    text-align: center;
}
#grid div input{
   margin-left: 10px;
}
#modal{
    margin-top: 20px;
}
#enviar{
    width: 100px;
    height: 50px;
    text-decoration: none;
    color: black;
    background-color: gray;
    margin-top: 40px;
    border-radius: 20px;
    font-size: 2em;
}
.show{
    opacity: 1;
    z-index: 1;
}
.hide{
    opacity: 0;
    z-index: -1;
}
#senhadiv{
    margin-bottom: 20px;
}